<div class="top center blue">
	<h1>A little about me.</h1>
	<p></p>
</div>
<div class="about">
	<div class="page-wrap topic">
		<div class="page-wrap pic">
			<%= image_tag("maggie_full.png", alt: "Maggie")%>
		</div>
		<div class="page-wrap text">
			<p>
				<strong><em>So who is this "Maggie" person, anyway?</em></strong><br><br>
				I'm so glad you asked! My education and background is in cognitive science and user experience research. I wanted to have a more impactful role in consumer-facing products, so I started learning web development in December, 2013. <br><br>
				When I'm not typing furiously on my computer, I like to go hiking, camping, skiing, and all manner of outdoorsy things. I'm more of a cat person than a dog person. I lived in Italy for a couple of years. I'm a Star Trek fan, a Kim Stanley Robinson fan, and yes, I loved the movie <%= link_to "Her (2013)", "http://www.imdb.com/title/tt1798709/", target: "_blank"%>.
			</p>
		</div>
	</div>
	<div class="page-wrap topic">
		<div class="page-wrap pic">
			<%= image_tag("education.png", alt: "Education")%>
		</div>
		<div class="page-wrap text">
			<p>
				<strong><em>I'm educated.</em></strong><br><br>
				I got my BA from the University of Chicago in 2010 and my MSc from l'Università degli studi di Trento in 2012. While I was at these prestigious institutions, I did a lot of research around the subject of language and communication. I wrote my master's thesis on <%= link_to "communication via signaling games", "https://docs.google.com/file/d/0B6EjfMEqe_MjM1ZUS3FoMFFLVlk/edit?usp=sharing", target: "_blank"%>.<br><br>
				I love learning, and I constantly take courses on <%= link_to "Coursera", "https://www.coursera.org/user/i/62da43c330791faf1444ba89f764e988", target: "_blank"%> and <%= link_to "Udacity", "https://www.udacity.com/", target: "_blank"%>.
			</p>
		</div>
	</div>

	<div class="page-wrap topic">
		<div class="page-wrap pic">
			<%= image_tag("research.png", alt: "Skills")%>
		</div>
		<div class="page-wrap text">
			<p>
				<strong><em>I'm skilled.</em></strong><br><br>
        I'm primarily a <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %> web developer, but I've also dabbled in <%= link_to "Google App Engine", "https://developers.google.com/appengine/?csw=1", target: "_blank" %> (with Python and webapp2). I'm rather new to the field, so expounding on any supposed expertise would be pure bluff. But I have come to web development brandishing my love of learning, so I hope to start putting technical feathers in my hat soon.<br><br>
				From my research background, I have a good knowledge base of statistical tools and scientific research methods, including basic data analysis and machine learning techniques like ANOVA, regression techniques, cluster analysis, random forests, and data visualization. With regards to statistical tools I'm proficient in R (including ggplot2), Python (including pandas), Matlab, and Excel (including pivot tables). <br><br>
				In the field of user experience research, work that I've done has included light-weight UI testing, lean UX, survey design (both online and mobile, large and small scale), A/B testing, and focus groups.
			</p>
		</div>
	</div>
	<div class="page-wrap topic">
		<div class="page-wrap pic">
			<%= image_tag("work_experience.png", alt: "Work")%>
		</div>
		<div class="page-wrap text">
			<p>
				<strong><em>I work hard.</em></strong><br><br>
				I'm currently a full-time student at <%= link_to "App Academy", "http://www.appacademy.io/", target: "_blank"%>. I'll be on the job hunt soon (my session ends in June), so feel free to <%= link_to "email me", "/email", target: "_blank"%> if you know of any entry-level web developer positions opening up!<br><br>
				Recently, I spent about six months working as a user experience intern at <%= link_to "Immersion Corporation", "http://www.immersion.com/", target: "_blank"%>. Some of the work that I did there is listed on the <%= link_to "projects", "projects"%> page.
			</p>
		</div>
	</div>
	<div class="page-wrap topic">
		<div class="page-wrap pic">
			<%= image_tag("code.png", alt: "Code")%>
		</div>
		<div class="page-wrap text">
			<p>
				<strong><em>I code.</em></strong><br><br>
				Here's the full list, so far:<br><br>
				<%= link_to 'Ruby', 'https://www.ruby-lang.org/en/', target: '_blank'%> (including <%= link_to 'Rails', 'http://rubyonrails.org/', target: '_blank'%>), <%= link_to 'JavaScript', 'https://developer.mozilla.org/en-US/docs/Web/JavaScript', target: '_blank'%> (including <%= link_to 'jQuery', 'http://jquery.com/', target: '_blank'%> and <%= link_to 'Backbone.js', 'http://backbonejs.org/', target: '_blank'%>), <%= link_to 'JSON', 'http://www.json.org/', target: '_blank'%>, <%= link_to 'HTML', 'http://en.wikipedia.org/wiki/HTML', target: '_blank'%>, <%= link_to 'CSS', 'http://en.wikipedia.org/wiki/Cascading_Style_Sheets', target: '_blank'%> (and <%= link_to 'Sass', 'http://sass-lang.com/', target: '_blank'%>), SQL (and <%= link_to 'PostgreSQL', 'http://www.postgresql.org/', target: '_blank'%> ), Python (including <%= link_to 'Google App Engine', 'https://developers.google.com/appengine/?csw=1', target: '_blank'%>), <%= link_to 'R', 'http://www.r-project.org/', target: '_blank'%> (including <%= link_to 'ggplot2', 'http://ggplot2.org/', target: '_blank'%>)
			</p>
		</div>
	</div>
</div>
