<div class="top center blue">
	<h1>Here's what I've been up to lately.</h1>
	<p></p>
</div>

<div class="projects">
  
	<div class="page-wrap project">
		<div class="page-wrap pic">
			<%= link_to image_tag("a_A_logo_small.png", alt: "a/A"), "http://www.appacademy.io/", target: "_blank" %>
		</div>
		<div class="page-wrap text">
			<p><strong><em>I'm a student at <%= link_to "App Academy", "http://www.appacademy.io/", target: "_blank" %>!</em></strong>
        <br><br>
				I post my notes and drawings from class on <%= link_to "Tumblr", "http://missmaggiemo.tumblr.com/", target: "_blank"%>, and I post projects to <%= link_to "Github", "https://github.com/missmaggiemo?tab=repositories", target: "_blank"%>.
      </p>
		</div>
	</div>

	<div class="page-wrap project">
		<div class="page-wrap pic">
			<%= link_to image_tag("findmy_logo.png", alt: "Findmy"), "http://www.findmy.in", target: "_blank" %>
		</div>
		<div class="page-wrap text">
			<p><strong><em><%= link_to "My final project for App Academy", "http://www.findmy.in", target: "_blank" %></em></strong>
        <br><br>
				This is a website that I built as my final project for App Academy. It utilizes the <%= link_to 'Yelp API V2', 'http://www.yelp.com/developers/documentation/v2/search_api', target: '_blank' %>, <%= link_to 'Google Maps V3', 'https://developers.google.com/maps/documentation/javascript/', target: '_blank' %>, and <%= link_to 'geolocation', 'http://www.w3schools.com/html/html5_geolocation.asp', target: '_blank' %>.
				<br><br>
				For more information, <%= link_to 'please visit the site', 'http://www.findmy.in', target: '_blank' %>! And feel free to check out the code on <%= link_to "Github", "https://github.com/missmaggiemo/find_my", target: "_blank"%>.
        </p>
		</div>
	</div>

	<div class="page-wrap project">
		<div class="page-wrap pic">
			<%= link_to image_tag("space_cruiser.png", alt: "Space Cruiser"), 'http://asteroids1234.s3-website-us-west-1.amazonaws.com/', target: "_blank" %>
		</div>
		<div class="page-wrap text">
			<p><strong><em><%= link_to 'An arcade-style sidescroller game in pure JavaScript.', 'http://asteroids1234.s3-website-us-west-1.amazonaws.com/', target: '_blank' %></em></strong>
        <br><br>
        Space Cruiser is a sidescroller game that I made at App Academy, in the spirit of old arcade games.
        If you make it to the other side of the screen, you win! But if you hit an asteroid or if the other spaceship shoots you, you lose.<br><br>
        Check out the code on <%= link_to 'Github', 'https://github.com/missmaggiemo/A_A_asteroids', target: '_blank' %>!</p>
		</div>
	</div>

	<div class="page-wrap project">
		<div class="page-wrap pic">
			<%= link_to image_tag("website_icon.png", alt: "This Website"), root_path, target: "_blank" %>
		</div>
		<div class="page-wrap text">
			<p><strong><em>I made the website you're looking at right now!
        <%= link_to "(And its accompanying blog.)", "http://blog.missmaggiemo.com/", target: "_blank"%>
        </em></strong>
        <br><br>
				This site is an ongoing project for me.
        It's built with <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank"%>,
        and the source code is on <%= link_to "Github", "https://github.com/missmaggiemo/maggie_app", target: "_blank" %>.
        If you want to know more about it, <%= link_to "email me", email_path %>!</p>
		</div>
	</div>

	<div class="page-wrap project">
		<div class="page-wrap pic">
			<%= link_to image_tag("dev_survey.png", alt: "Developer Survey Results"), "http://blog.immersion.com/2013/11/evidence-for-the-awesomeness-of-haptics/", target: "_blank" %>
		</div>
		<div class="page-wrap text">
			<p><strong><em><%= link_to "Evidence for the Awesomeness of Haptics", "http://blog.immersion.com/2013/11/evidence-for-the-awesomeness-of-haptics/", target: "_blank" %></em></strong><br><br>
				<em>"We know that in the two years that the Immersion Haptic SDK has bee available, it has been downloaded over 3,000 times, and apps that utilize the Immersion Haptic SDK have been downloaded 24 million times. But what has been less clear to us is how developers feel about haptic feedback and the Immersion Haptic SDK. In August, Immersion launched a survey to collect feedback from developers on their experience with haptic feedback in apps and Immersion Haptic SDK.  The results were overwhelmingly positive and demonstrate the benefits and ease of use."</em><br><br>
				Blog post for <%= link_to "Immersion Corporation", "http://blog.immersion.com/", target: "_blank"%>.
			</p>
		</div>
	</div>



	<div class="page-wrap project">
		<div class="page-wrap pic">
			<%= link_to image_tag("mmf_article.png", alt: "White Paper"), "http://www.immersion.com/markets/automotive/portal/resources/white-papers.html", target: "_blank" %>
		</div>
		<div class="page-wrap text">
			<p><strong><em>The Value of Multimodal Feedback in Automotive User Interfaces.</em></strong><br><br>
				<em>"Multimodal feedback—audio and tactile feedback—can help mitigate the potential danger of touchscreens in cars by reducing glance times and improving reaction times to in-vehicle tasks. Moreover, users enjoy using interfaces with multimodal feedback more than visual feedback alone. This review includes a number of current studies exploring driver distraction, multimodal feedback in touchscreens, and multimodal feedback in vehicles. These studies show that multimodal feedback is an essential component for a safe, effective, and enjoyable in-vehicle touchscreen system."</em><br><br>
				White paper for Immersion Corporation.<br><br>
				<%= link_to "Download available at Immersion Corporation website.", "http://www.immersion.com/markets/automotive/portal/resources/white-papers.html", target: "_blank" %><br><br>
			</p>
		</div>
	</div>

</div>
